/* ------------------------------------------
  Reset ♥
  http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
---------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
  }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display:block;
  }
body { line-height:1; }
ol, ul { list-style:none;  }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing:0; }
/* remember to define focus styles. Hee Haw */
:focus { outline:0; }

@font-face {
  font-family:'Forsythe';
  font-weight:bold;
  src: url('https://github.com/tristen/forsythe/blob/master/webfonts/forsythe-bold.eot?raw=true') format('eot');
  src: url('https://github.com/tristen/forsythe/blob/master/webfonts/forsythe-bold.eot?raw=true?#iefix') format('embedded-opentype'),
       url('https://github.com/tristen/forsythe/blob/master/webfonts/forsythe-bold.woff?raw=true') format('woff');
       url('https://github.com/tristen/forsythe/blob/master/webfonts/forsythe-bold.ttf?raw=true') format('truetype'),
       url('https://github.com/tristen/forsythe/blob/master/webfonts/forsythe-bold.svg?raw=true#forythe') format('svg');
  }
@font-face {
  font-family:'Forsythe';
  src: url('https://github.com/tristen/forsythe/blob/master/webfonts/forsythe-normal.eot?raw=true') format('eot');
  src: url('https://github.com/tristen/forsythe/blob/master/webfonts/forsythe-normal.eot?raw=true?#iefix') format('embedded-opentype'),
       url('https://github.com/tristen/forsythe/blob/master/webfonts/forsythe-normal.woff?raw=true') format('woff');
       url('https://github.com/tristen/forsythe/blob/master/webfonts/forsythe-normal.ttf?raw=true') format('truetype'),
       url('https://github.com/tristen/forsythe/blob/master/webfonts/forsythe-normal.svg?raw=true#forythe') format('svg');
  }

.prose {
  font:15px/22px 'Century Schoolbook',Century,Serif;
  }

/*-----------------------------------
  Typography
-------------------------------------*/
body {
  background:#e0e0e0 url(images/dots.png) repeat 0 0;
  font:13px/18px 'Century Schoolbook',Century,Serif;
  color:#000;
  margin:0; padding:0;
  overflow-x:hidden;
  }
input {
  font:15px/22px 'Century Schoolbook',Century,Serif;
  vertical-align:middle;
  background:#fff;
  color:#000;
  border:1px solid #CCC;
  border-color:#CCC #B0B0B0 #B0B0B0;
  padding:6px 10px;
  float:left;
  width:480px;
  display:block;
  margin-left:10px;
  -webkit-box-shadow: inset #CCC 0 1px 3px;
     -moz-box-shadow: inset #CCC 0 1px 3px;
          box-shadow: inset #CCC 0 1px 3px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  }
strong {
  font-weight:bold;
  }

.bold     { font-family:'Forsythe','Arial Narrow',Arial; font-weight:bold; }
.normal   { font-family:'Forsythe','Arial Narrow',Arial; }
.bright   { color:#fff; }

a {
  color:#000;
  }
.button {
  background:#1F90FF;
  background:-webkit-gradient(linear, left top, left bottom, from(#1F90FF), to(#0081FF));
  background:-moz-linear-gradient(top, #1F90FF, #0081FF);
  color:#fff;
  display:block;
  padding:0 40px;
  margin:0 5px;
  text-decoration:none;
  font-size:18px;
  font-style:italic;
  height:45px;
  line-height:45px;
  display:inline-block;
  text-decoration:none;
  -webkit-border-radius:30px;
          border-radius:30px;
  -webkit-box-shadow:0 0 0 6px rgba(0,0,0,0.35);
          box-shadow:0 0 0 6px rgba(0,0,0,0.35);
  }
  .button:hover {
    background: #1F90FF;
    }
  .button:active {
    background: #0081FF;
    }

.caption {
  color:#a0a0a0;
  }

/*-----------------------------------
  Global Layout
-------------------------------------*/
.limiter {
  max-width:1200px;
  margin:0px auto;
  padding:0 40px;
  }
.section {
  margin:40px 0;
  }

/*-----------------------------------
  Section: slides
-------------------------------------*/
#slides {
  background:#fff;
  position:relative;
  height:320px;
  }
.slide {
  top:40px;
  position:absolute;
  top:0;left:0;right:0;
  width:100%;
  height:100%;
  display:none;
  overflow:hidden;
  -webkit-animation-duration:250ms;
     -moz-animation-duration:250ms;
       -o-animation-duration:250ms;
          animation-duration:250ms;
  -webkit-animation-fill-mode:both;
     -moz-animation-fill-mode:both;
       -o-animation-fill-mode:both;
          animation-fill-mode:both;
  -webkit-animation-name:fadeOutRight;
     -moz-animation-name:fadeOutRight;
       -o-animation-name:fadeOutRight;
          animation-name:fadeOutRight;
  }
  .slide.active {
    display:block;
    z-index:100;
    -webkit-animation-delay:250ms;
       -moz-animation-delay:250ms;
         -o-animation-delay:250ms;
            animation-delay:250ms;
    -webkit-animation-name:fadeInRight;
     -moz-animation-name:fadeInRight;
       -o-animation-name:fadeInRight;
          animation-name:fadeInRight;
    }

.slide.active p {
  margin-top:160px;
  }

.slide-1.active {
  background:transparent url(images/slide-one.png) no-repeat center center;
  background-size:cover;
  color:#fff;
  }
  .slide-1 .headline {
    font-size:120px;
    line-height:115px;
    margin-top:70px;
    text-shadow:0 2px 4px rgba(0,0,0,0.8);
    }
  .slide-1 .action {
    margin-top:40px;
    }

.slide-2.active {
  background-color:#F3734F;
  color:#fff;
  font-size:120px;
  line-height:115px;
  color:rgba(255,255,255,0.25);
  }
  .slide-2 .medium {
    color:#fff;
    text-shadow: 0 2px 5px rgba(0,0,0,0.25);
    }

.slide-3.active {
  background-color:#777d83;
  }
.slide-4.active {
  background-color:#fff;
  }

.slide img {
  max-width:100%;
  display:block;
  margin:0 auto;
  }

@-webkit-keyframes fadeOutRight {
  0%    { opacity: 1; -webkit-transform:translateX(0); }
	100%  { opacity: 0; -webkit-transform:translateX(20px); }
  }
@-moz-keyframes fadeOutRight {
	0%    { opacity:1; -moz-transform:translateX(0); }
	100%  { opacity:0; -moz-transform:translateX(20px); }
  }
@-o-keyframes fadeOutRight {
	0%    { opacity:1; -o-transform:translateX(0); }
	100%  { opacity:0; -o-transform:translateX(20px); }
  }
@keyframes fadeOutRight {
	0%    { opacity:1; transform:translateX(0); }
	100%  { opacity:0; transform:translateX(20px); }
  }

/* Sliding slideshow content in from the right*/
@-webkit-keyframes fadeInRight {
	0%    { opacity:0; -webkit-transform:translateX(20px); }
	100%  { opacity:1; -webkit-transform:translateX(0); }
  }
@-moz-keyframes fadeInRight {
	0%    { opacity:0; -moz-transform:translateX(20px); }
	100%  { opacity:1; -moz-transform:translateX(0); }
  }
@-o-keyframes fadeInRight {
	0%    { opacity:0; -o-transform:translateX(20px); }
	100%  { opacity:1; -o-transform:translateX(0); }
  }
@keyframes fadeInRight {
	0%    { opacity:0; transform:translateX(20px); }
	100%  { opacity:1; transform:translateX(0); }
  }

#pager {
  margin:0 auto;
  text-align:center;
  position:relative;
  top:-55px;
  z-index:1000;
  }
.item {
  background:#e0e0e0;
  display:inline-block;
  width:15px;
  height:15px;
  margin-right:10px;
  -webkit-transition:background 0.1s linear;
     -moz-transition:background 0.1s linear;
       -o-transition:background 0.1s linear;
          transition:background 0.1s linear;
  -webkit-border-radius:50%;
          border-radius:50%;
  }
  .item.active {
    background:#f3d24f;
    }

.col2 {
  position:relative;
  float:left;
  width:50%;
  padding-top:20px;
  }

.frame {
  background:rgba(0,0,0,0.65);
  position:absolute;
  width:100%;
  height:100%;
  font-size:18px;
  line-height:26px;
  padding:20px 0 40px;
  text-align:center;
  -webkit-border-radius:2px;
          border-radius:2px;
  }
/*-----------------------------------
  Section: Type tester
-------------------------------------*/
.type-test .limiter {
  position:relative;
  }
.type-test .controls {
  background:#fff;
  border-bottom:1px solid #ccc;
  position:relative;
  padding:10px 0;
  -webkit-box-shadow:0 2px 4px rgba(0, 0, 0, 0.08);
          box-shadow:0 2px 4px rgba(0, 0, 0, 0.08);
  -webkit-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
  }
  .toggle {
    float:left;
    margin-left:10px;
    }
    .toggle a {
      background-color:#e0e0e0;
      background-image:-webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e0e0e0));
      background-image:-webkit-linear-gradient(top, #f5f5f5, #e0e0e0);
      background-image:   -moz-linear-gradient(top, #f5f5f5, #e0e0e0);
      background-image:    -ms-linear-gradient(top, #f5f5f5, #e0e0e0);
      background-image:     -o-linear-gradient(top, #f5f5f5, #e0e0e0);
      background-image:        linear-gradient(to bottom, #f5f5f5, #e0e0e0);
      border:1px solid #b0b0b0;
      font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
      display:inline-block;
      text-decoration:none;
      text-align: center;
      margin:2px auto 0;
      color:#808080;
      text-shadow:0 1px 0 #fff;
      padding:8px 18px;
      -moz-border-radius:2px;
      border-radius:2px;
      font-weight:600;
      -webkit-transition:border-color 0.1s linear;
         -moz-transition:border-color 0.1s linear;
           -o-transition:border-color 0.1s linear;
              transition:border-color 0.1s linear;
      box-shadow:
        inset 0 1px 0 rgba(255,255,255,0.45),
        inset 0 10px 10px rgba(255,255,255,0.15)
      }
      .toggle a:hover {
        border:1px solid #606060;
        }
      .toggle a:active,
      .toggle a.active {
        background:#fff;
        color:#303030;
        border-color:#A0A0A0;
        -moz-box-shadow:inset 0 3px 8px rgba(0,0,0,0.08);
             box-shadow:inset 0 3px 8px rgba(0,0,0,0.08);
        }

#text-zoomer {
  background:#fff;
  position:relative;
  width:auto;
  height:5px;
  float:right;
  width:240px;
  margin-right:10px;
  border:1px solid #aaa;
  top:17px;
  -webkit-border-radius:2px;
          border-radius:2px;
  }
  #text-zoomer .handle {
    position:absolute;
    cursor:ew-resize;
    }

.icon {
  background:transparent url(images/sprite.png) no-repeat -2px 0;
  display:block;
  width:20px;
  height:20px;
  text-indent:-999em;
  }
  .icon.grip { background-position:2px 1px; }

  #text-zoomer .bar {
    background-color:#e0e0e0;
    background-image:-webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e0e0e0));
    background-image:-webkit-linear-gradient(top, #f5f5f5, #e0e0e0);
    background-image:   -moz-linear-gradient(top, #f5f5f5, #e0e0e0);
    background-image:    -ms-linear-gradient(top, #f5f5f5, #e0e0e0);
    background-image:     -o-linear-gradient(top, #f5f5f5, #e0e0e0);
    background-image:        linear-gradient(to bottom, #f5f5f5, #e0e0e0);
    border:1px solid #aaa;
    width:25px;
    height:20px;
    line-height:30px;
    text-align:center;
    font-weight:bold;
    z-index:10;
    top:-8px;
    text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
    -webkit-transition:border-color 0.1s linear;
       -moz-transition:border-color 0.1s linear;
         -o-transition:border-color 0.1s linear;
            transition:border-color 0.1s linear;
    -webkit-box-shadow:0 0 1px rgba(0,0,0,0.25);
            box-shadow:0 0 1px rgba(0,0,0,0.25);
    -webkit-border-radius:2px;
            border-radius:2px;
    }
    #text-zoomer .bar:hover {
      background-color:#b0b0b0;
      border:1px solid #606060;
      }

#output {
  background:#fff;
  padding:30px 40px;
  height:280px;
  margin-bottom:20px;
  font-size:72px;
  line-height:62px;
  color:#303030;
  overflow:auto;
  word-wrap:break-word;
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.20);
          box-shadow: 0 2px 4px rgba(0,0,0,0.20);
  }

/*-----------------------------------
  Section: Download
-------------------------------------*/
.download {
  background:#f3d24f;
  padding:40px;
  }
  .download ul {
    width:100%;
    margin:0 auto 30px;
    text-align:center;
    }
    .download ul li {
      display:inline-block;
      text-align:center;
      }
      .download ul li a {
        font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-weight:500;
        background:black;
        color:#F3D24F;
        display:block;
        padding:0 40px;
        text-decoration:none;
        font-size:18px;
        height:50px;
        line-height:50px;
        margin-bottom:5px;
        -webkit-border-radius:30px;
                border-radius:30px;
        }
        .download ul li a:active {
          background-color:#303030;
          }

/*-----------------------------------
  Lil Helpers
-------------------------------------*/
.centered {
  display:block;
  text-align:center;
  }

/*Markup free clearing
Details: http: //perishablepress.com/press/2009/12/06/new-clearfix-hack*/
.clearfix:after {
  content:'';
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
  }
* html .clearfix { height:1%; }
*:first-child + html .clearfix { min-height:1%; }

/*-----------------------------------
  Mobile
-------------------------------------*/
@media only screen and (max-width:640px) {
  .slide-1.active .presenting {
    margin-top: 60px;
  }
  .limiter {
    padding: 0 20px;
    }
  #output {
    padding:20px;
    }
  input,
  #weight-toggle,
  #text-zoomer {
    width:90%;
    margin:10px auto 0;
    float:none;
    }
  #text-zoomer {
    top:10px;
    margin-bottom:20px;
    }
  .download ul {
    margin-bottom:20px;
    }
  .type-test .controls {
    height:auto;
    }
  .col4 {
    width:100%;
    }
   .inner {
    padding:10px 0 0 0;
    }
   .inner h2 {
    padding-top:10px;
    }
  #masthead.active {
    height:440px;
    }
}
